In [189]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [190]:
path = "data/diabetes_data.csv"
target = ''

In [191]:

def general_preprocess(path, target):
    data = pd.read_csv(path)
    new_columns = []

    for i in data.columns:
        data[i.lower().strip()] = data[i]
        new_columns.append(i.lower().strip())

    new_data = data[new_columns]
    new_data = new_data.drop_duplicates()
    new_data = new_data.dropna()

    target = target.lower().strip()

    X = new_data.drop(target, axis=1)
    y = new_data[target]

    feature_columns = X.columns

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

    return X_train, X_test, y_train, y_test, list(feature_columns)

X_train, X_test, y_train, y_test, feature_columns = general_preprocess('data/diabetes_data.csv', "Outcome")


print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
print(list(feature_columns))

(614, 8) (154, 8) (614,) (154,)
['pregnancies', 'glucose', 'bloodpressure', 'skinthickness', 'insulin', 'bmi', 'diabetespedigreefunction', 'age']

In [192]:
# print(feature_columns)

In [193]:

def clean_data_processing(path):
    data = pd.read_csv(path)
    new_columns = []

    for i in data.columns:
        data[i.lower().strip()] = data[i] 
        new_columns.append(i.lower().strip())

    clean_data = data[new_columns]
    clean_data = clean_data.drop_duplicates()
    clean_data = clean_data.dropna()

    return clean_data 

# data = clean_data('data/diabetes_data.csv')
# data.head(2)

In [194]:
data = pd.read_csv('data/dummy_data.csv')
print(data)
data_clean = clean_data_processing('data/dummy_data.csv')
data_clean

  Sex  Age address  salary
0   M   10      qw      12
1   F   12      er      15
2   M   45      df      16
3   F   14      wa      18

  sex  age address  salary
0   M   10      qw      12
1   F   12      er      15
2   M   45      df      16
3   F   14      wa      18

In [195]:
data_clean = clean_data_processing('data/dummy_data.csv')

def features_columns(data, target):
    target = target.lower().strip() 
    feature_columns = data.drop(target, axis=1).columns 
    return list(feature_columns)

feature_columns = features_columns(data=data_clean, target='Salary')

feature_columns

def json_dictionary(feature_columns, data):
    data_dictionary = {}

    for i in feature_columns:
        if type(data[i][0]) == str:
            data_dictionary[i] = list((data[i].unique()))

    encode_dictionary = {}
    for key, value in data_dictionary.items():
        value_dictionary = {}
        for idx, i in enumerate(value): 
            value_dictionary[i] = idx
        encode_dictionary[key] = value_dictionary

    return data_dictionary, encode_dictionary

json_data, encoded_json_data = json_dictionary(feature_columns, data_clean)

import json 
json_object = json.dumps(encoded_json_data)

# print(clean_data.)

print(json_data) 
print(encoded_json_data)

{'sex': ['M', 'F'], 'address': ['qw', 'er', 'df', 'wa']}
{'sex': {'M': 0, 'F': 1}, 'address': {'qw': 0, 'er': 1, 'df': 2, 'wa': 3}}

In [196]:
import json

json_ = json.dumps(encoded_json_data)

filename = open("encoded_json.json","w")
filename.write(json_)
filename.close()

In [197]:
# import json

filename = open('encoded_json.json')
json_data = json.load(filename)
filename.close()

print(json_data)

{'sex': {'M': 0, 'F': 1}, 'address': {'qw': 0, 'er': 1, 'df': 2, 'wa': 3}}

In [198]:
# json_data['sex']['M']
print(json_data['sex']['M'])

0

In [199]:
data_clean

  sex  age address  salary
0   M   10      qw      12
1   F   12      er      15
2   M   45      df      16
3   F   14      wa      18

In [200]:
feature_columns

['sex', 'age', 'address']

In [201]:
data_clean

  sex  age address  salary
0   M   10      qw      12
1   F   12      er      15
2   M   45      df      16
3   F   14      wa      18

In [202]:
# columns_for_training = []
for i in feature_columns:
    # columns_for_training.append(i + '_new')
    if type(data_clean[i][0]) == str:
        # data_clean[i + '_new'] =  data_clean[i].apply(lambda x : json_data[i][x])  
        data_clean[i] =  data_clean[i].apply(lambda x : json_data[i][x])
    else:
        # data_clean[i + '_new'] = data_clean[i]
        data_clean[i] = data_clean[i]


# data_for_training = data_clean[columns_for_training]


data_clean 
# data_for_training

   sex  age  address  salary
0    0   10        0      12
1    1   12        1      15
2    0   45        2      16
3    1   14        3      18

In [204]:
for item, value in json_data.items():
    print(item, value)

sex {'M': 0, 'F': 1}
address {'qw': 0, 'er': 1, 'df': 2, 'wa': 3}